{
  border: 1px solid black;
}

p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  box-sizing: border-box;
  margin: 0;
  gap: 20px;
}

.header-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 25px;
}

.upper-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 20px;
  padding-top: 10px;
}

.search {
  display: grid;
  grid-template-columns: 25px 1fr;
  gap: 20px;
  align-items: center;
}

.search p {
  background-color: rgb(211, 211, 211);
  border-radius: 10px;
  padding: 5px;
}

.user-profile {
  display: grid;
  grid-template-columns: 25px 25px 1fr;
  align-items: center;
  gap: 15px;
  justify-self: end;
  padding-right: 100px;
}

.lower-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 20px;
  align-items: center;
}

.user-greeting {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.user-greeting img {
  grid-row: 1 / 3;
}

.user-greeting p {
  grid-column: 2 / 3;
  padding-left: 20px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  padding-right: 50px;
  justify-self: end;
}

button {
  border-radius: 15px;
  border: none;
  color:rgb(255, 255, 255);
  background-color: rgb(14, 165, 233);
  padding: 10px;
  width: 5rem;
}

.sidebar-container {
  background-color: rgb(14, 165, 233);
  display: grid;
  grid-area: 1 / 1 / 3 / 2;
  grid-template-rows: 1fr 2fr 2fr;
  gap: 30px;
}

.logo {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 10px;
  padding-left: 15px;
}

img {
  width: 100%;
}

.logo p {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: bold;
}

.logo p, .logo img {
  align-self: center;
}

.main-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 350px 200px;
}

.cards-container>p {
  padding-left: 25px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 10px;
  grid-row: 1 / 3;
}

.card {
  border-left: 5px solid rgb(255, 165, 0);
  padding: 10px;
  display: grid;
  grid-template-rows: 25px 85px;
  grid-template-columns: 150px 150px;
  font-size: 0.8rem;
}

.card p {
  grid-column: 1 / 3;
}

.card-icons {
  display: grid;
  grid-template-columns: 25px 25px 25px;
  gap: 15px;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  justify-self: flex-end;
}

.annoucements-container {
  display: grid;
  grid-template-rows: 20px 300px;
}

.announcements {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  padding: 19px;
  font-size: 0.8rem;
}

.trending-container {
  display: grid;
  align-items: center;
  grid-column: 2 / 3;
  grid-template-rows: 15px 1fr;
}

.trending-block {
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: 25px 1fr;
  grid-template-rows: 15px 15px;
}

.trending {
  display: grid;
  gap: 25px;
  padding-left: 20px;
  padding-top: 10px;
}

.trending-block>img {
  grid-row: 1 / 3;
  align-self: center;
}

.trending-block>p {
  grid-column: 2 / 3;
  align-self: center;
  padding-left: 20px;
}

ul {
  display: grid;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: grid;
  grid-template-columns: 25px 1fr;
  color: rgb(255, 255, 255);
  font-weight: bold;
  gap: 20px;
  padding-left: 25px;
  align-items: center;
}