@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sidebar-background-color: #38bdf8;
    --button-background-color: var(--sidebar-background-color)
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 3fr;
    font-family: Roboto, sans-serif;
}

.sidebar-container {
    background-color: var(--sidebar-background-color);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 100px 2fr 5fr;
    font-size: 1.5rem;
    padding: 0px 32px;
    align-items: start;
    gap: 32px;
    color: #ffffff;
    font-weight: bold;
}

.sidebar-container p {
    display: grid;
    grid-template-columns: 1fr 10fr;
    gap: 16px;
    align-items: center;
}

.sidebar-container img {
    width: 1.5rem;
}

.logo-container {
    align-self: center;
    font-size: 2rem;
}

.logo-container img {
    width: 3rem;
}

.primary-container,
.secondary-container {
    display: grid;
    gap: 8px;
}

.header-container {
    grid-column: 2 / 3;
    display: grid;
    align-items: center;
    font-size: 1.5rem;
    padding-left: 32px;
    padding-right: 64px;
}

.upper-header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.upper-header-container img {
    width: 1.5rem;
}

.upper-header-container > div {
    display: grid;
    align-items: center;
}

.search-container {
    grid-template-columns: auto 1fr;
    gap: 8px;
}

.search-container input,
button {
    border-radius: 25px;
}

.search-container input {
    height: 2rem;
    background-color: lightgrey;
    outline: none;
    border: none;
}

.search-container img {
    justify-self: end;
}

.profile-container {
    display: grid;
    grid-template-columns: min-content min-content 1fr;
    gap: 32px;
    justify-self: end;
    font-weight: bold;
}

.profile-avatar {
    width: 50px;
    height: 50px;
}

.profile-avatar,
.greeting-profile-avatar {
    background-color: lightgrey;
    border-radius: 50%;
}

.greeting-profile-avatar {
    width: 75px;
    height: 75px;
    grid-row: 1 / 3;
    margin-right: 16px;
}

.lower-header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.greeting-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
}

.greeting-container p:last-child {
    font-size: 1.5rem;
}

.profile-button-container{
    justify-self: end;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 32px;
}

button {
    background-color: var(--button-background-color);
    color: white;
    height: 50px;
    width: 120px;
    border: none;
    font-weight: bold;
    font-size: 1.25rem;
}

.main-container {
    background-color: black;
    grid-column: 2 / 3;
}
